.modal-dialog {
	margin-top: 200px;
}

.modal-header {
	background-color: #FF9B22;
}

.modal-body {
	text-align: center;
}

.modal-content {
	font-family: 'Open Sans', sans-serif;
}

.myInput {
	padding: 5px;
	width: 100%;
}

.gallery {
	margin-top: 100px;
}

.portfolio {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.teamDiv {
	margin-top: 0px;
	width: 250px;
	height: 300px;
	border: 2px solid black;
}

.teamName a {
	font-size: 24px;
	text-decoration: none;
	color: #FF9B22;
}

.teamDiv img {;
	width: 200px;
	height: 200px;
}

.teamDiv button {
	
}

